.cardGroup {
    display: grid;
    grid-template-columns: repeat(var(--column, 3), 1fr);
    gap: var(--spacing4);
    margin-bottom: var(--spacing4);

    @media (max-width: 900px) {
        --column: 2;
    }

    @media (max-width: 600px) {
        --column: 1;
    }
}