.fly-out button {
    background-color: transparent;
    padding: 0;
}

.fly-out-icon {
    width: 35px;
    height: 100%;
    fill: var(--color-base-content);
    stroke: var(--color-base-content);
}

.fly-out-toggle {
    position: relative;
}

.fly-out-menu {
    background-color: var(--color-base-100);
    padding: var(--spacing4);
    border-radius: var(--radius-box);
}


.fly-out-item {
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing4);
}

.fly-out-item:not(:last-child) {
    margin-bottom: var(--spacing4);
}