.hero {
    grid-template-areas: 
    'content content image image'
    'content content image image'
    'action action image image';
    gap: var(--spacing5);
}

.hero-content {
    grid-area: content
}

.hero-image-container {
    grid-area: image;
    justify-self: center;
}

.hero-action {
    grid-area: action
}

.hero-title {
    font-weight: bold;
}

.hero-image {
    width: 100%;
    height: auto;
    border-radius: var(--radius-box);
    object-fit: cover;
}

.hero-image-container {
    align-self: center;
}

.hero-image-container.img-sm{
    max-width: 300px;
}

.hero-image-container.img-md {
    max-width: 400px;
}

.hero-image-container.img-lg {
    max-width: 500px;
}

@media (max-width: 700px) {
    .hero {
        grid-template-areas: 
        'image image image'
        'content content content'
        'action action action';
    }

    .hero-image-container.img-sm,
    .hero-image-container.img-md,
    .hero-image-container.img-lg {
        max-width: 100%;
        padding: var(--spacing5);
    }
}