.notification-list li {
    margin-bottom: var(--spacing3);
    padding: var(--spacing3);
    border-radius: var(--radius-field);
    width: 250px;
    animation: fade-in 800ms ease-in-out;
}

.notification-list li.error {
    background-color: var(--color-error);
    color: var(--color-error-content);
}

.notification-list li.success {
    background-color: var(--color-success);
    color: var(--color-success-content);
}

.notification-list li.closing,
.notification-list.closing {
    animation: fade-out 300ms ease-in-out;
}

.notification-list div {
    gap: var(--spacing3)
}

.notification-list span {
    cursor: pointer;
}