.user-card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--spacing5);
    max-width: 400px;
    max-height: 250px;
}

.user-card .card-image-section {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

.user-card .card-content-section {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.user-card .card-attribution-section {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: flex-end;
}

.user-card img {
    border-radius: var(--radius-box);
    object-fit: contain;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
}

.user-status {
    background-color: var(--color-primary);
    padding: var(--spacing2);
    border-radius: var(--radius-field);
}