.mainLayout {
    height: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 var(--spacing5);
}

.mb1 {
    margin-bottom: var(--spacing1);
}

.mb2 {
    margin-bottom: var(--spacing2);
}

.mb3 {
    margin-bottom: var(--spacing3);
}

.mb4 {
    margin-bottom: var(--spacing4);
}

.mb5 {
    margin-bottom: var(--spacing5);
}

.mb6 {
    margin-bottom: var(--spacing6);
}

.mb7 {
    margin-bottom: var(--spacing7);
}

.mb8 {
    margin-bottom: var(--spacing8);
}

.fixed-tr {
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 1;
}