.layout {
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing7);
    gap: var(--spacing7);
    justify-content: center;

    @media (max-width: 900px) {
        display: block;
    }
}

.heroSection {
    @media (max-width: 900px) {
        display: none;
    }
}

.formSection { 
    @media (max-width: 900px) {
        width: 100%;
    }
}