.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing5);
    padding-top: var(--spacing3);
    height: 160px;

    @media (max-width: 700px) {       
        flex-direction: column;
        height: 150px;
        justify-content: space-between;
    }
}

.navBar {
    > ul {
        gap: var(--spacing6);
        font-size: large;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: 900px) {
        gap: var(--spacing5);
    }
}
