.postSection {
    max-width: 680px;
    width: 100%;
    margin: auto;
}

.commentSection {
    max-width: 680px;
    width: 100%;
    margin: auto;

    > .commentGroup {
        padding: var(--spacing4);
        border-radius: var(--radius-box);
        background-color: var(--color-base-100);
        margin-bottom: var(--spacing4);
    }
    

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ol {
        list-style: none;

        li {
            border-bottom: 1px solid var(--light-dark);
        }
    }
}