.card-group {
    display: grid;
    grid-template-columns: repeat(var(--column, 3), 1fr);
    gap: var(--spacing4);
}

@media (max-width: 900px) {
    .card-group {
        --column: 2
    }
}

@media (max-width: 600px) {
    .card-group {
        display: block;
    }

    .card-container {
        margin: var(--spacing4);
    }
}