.profile-page {
    display: flex;
    gap: var(--spacing6)
}

.profile-page .tabs {
    flex: 1
}

@media (max-width: 1200px) {
    .profile-page {
        display: block
    }

    .profile-page .user-card {
        margin: 0 auto;
        margin-bottom: var(--spacing7);
    }
}