.skeletonCard {
    padding: var(--spacing4);
    border-radius: var(--radius-box);
    background-color: var( --color-base-100);

    section div { 
        background:  var(--color-skeleton);
        border-radius: var(--radius-box);
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            background: var(--color-skeleton-loading);
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            z-index: 1;
            border-radius: var(--radius-box);
            animation: skeletonSlide 0.7s infinite ease-in-out;
        }
    }
}

.image {
    height: 150px;
}

.title {
    height: 37px;
}

.text {
    height: 18px;
}

.attribution {
    height: 15px;
}

@keyframes skeletonSlide {
    from {
        background-position: -180px 0;
    }

    to {
      background-position: 180px 0;
    }
}